
/**
 * For more information please see the documentation at : https://github.com/enhance-dev/enhance-styles#readme
 */


/*** Theme Colors ***/
:root {
  --accent-h: 208;
  --accent-s: 100%;
  --accent-l: 42.9%;
  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  --light: #fefefe;
  --dark: #222222;
  --fore: var(--dark, currentColor);
  --back: var(--light);
  --error-h: 0;
  --error-s: 94.5%;
  --error-l: 43.1%;
  --error: hsl(var(--error-h), var(--error-s), var(--error-l));



  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);
    
  --focus-l: 30%;
  accent-color: var(--accent, royalblue);
  color-scheme: light dark;
}

:is(a, button, input, textarea, summary):focus:not(:focus-visible) {
  outline: none;
}

:is(a, button, input, textarea, summary):focus-visible {
  outline: max(var(--focus-size, 1px), 1px) solid var(--accent, royalblue);
  outline-offset: var(--focus-offset, 0);
  box-shadow: 0 0 0 max(var(--focus-size, 3px), 3px) hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) + var(--focus-l)))
  ;
}

:is(a, button, input, textarea, summary):not(:focus):not(:placeholder-shown):invalid {
  outline: max(var(--focus-size, 1px), 1px) solid var(--error, crimson);
  outline-offset: var(--focus-offset, 0);
  box-shadow: 0 0 0 3px hsl(var(--error-h), var(--error-s), calc(var(--error-l) + var(--focus-l)));
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-l: 62%;
    --error-l: 62%;
    --focus-l: -30%;
    --fore: var(--light);
    --back: var(--dark);
    
  }
}





/*** Reset ***/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
 margin: 0;
 padding: 0;
 border: 0 solid transparent;
}
html:focus-within {
  scroll-behavior: smooth;
}
audio,
canvas,
embed,
iframe,
img,
object,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button,
input,
select,
textarea {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
a {
  cursor: pointer;
  color: inherit;
  text-decoration: inherit;
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}
button,
[role="button"] {
  cursor: pointer;
  background-color: transparent;
}
code {
  font: inherit;
  font-size: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ul[role='list'],
ol[role='list'] {
 list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
textarea {
  vertical-align: top;
  overflow: auto;
}
dialog {
  margin: auto;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*** Typeface ***/
html {font-size: 100%;}

/*** Family ***/

.font-sans{font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";}
.font-serif{font-family: Georgia, Cambria, "Times New Roman", Times, serif;}
.font-mono{font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;}



body {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  text-rendering: optimizeSpeed;
}


/*** Smoothing ***/
.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*** Background ***/
.bg-fixed{background-attachment:fixed;}
.bg-local{background-attachment:local;}
.bg-scroll{background-attachment:scroll;}
.bg-bottom{background-position:bottom;}
.bg-center{background-position:center;}
.bg-left{background-position:left;}
.bg-left-bottom{background-position:left bottom;}
.bg-left-top{background-position:left top;}
.bg-right{background-position:right;}
.bg-right-bottom{background-position:right bottom;}
.bg-right-top{background-position:right top;}
.bg-top{background-position:top;}
.bg-repeat{background-repeat:repeat;}
.bg-no-repeat{background-repeat:no-repeat;}
.bg-repeat-x{background-repeat:repeat-x;}
.bg-repeat-y{background-repeat:repeat-y;}
.bg-repeat-round{background-repeat:round;}
.bg-repeat-space{background-repeat:space;}
.bg-auto{background-size:auto;}
.bg-cover{background-size:cover;}
.bg-contain{background-size:contain;}
.bg-unset{background-color:unset;}
.bg-clip-border{background-clip:border-box;}
.bg-clip-content{background-clip:content-box;}
.bg-clip-padding{background-clip:padding-box;}
.bg-clip-text{
  background-clip:text;
  -webkit-background-clip:text;
  color:transparent;
}


/*** Border ***/
.border-solid{border-style:solid;}
.border-dashed{border-style:dashed;}
.border-dotted{border-style:dotted;}
.border-double{border-style:double;}
.border-none{border-style:none;}
.border-bs-none{border-block-start:none;}
.border-be-none{border-block-end:none;}
.border-is-none{border-inline-start:none;}
.border-ie-none{border-inline-end:none;}

.border0{border-width:0px;}
.border-bs0{border-block-start-width:0px;}
.border-be0{border-block-end-width:0px;}
.border-is0{border-inline-start-width:0px;}
.border-ie0{border-inline-end-width:0px;}

.border1{border-width:1px;}
.border-bs1{border-block-start-width:1px;}
.border-be1{border-block-end-width:1px;}
.border-is1{border-inline-start-width:1px;}
.border-ie1{border-inline-end-width:1px;}


/*** Radius ***/
.radius-none{border-radius:0;}
.radius-100{border-radius:100%;}
.radius-pill{border-radius:9999px;}
.radius-bs-none,
.radius-is-none,
.radius-ss-none{border-start-start-radius:0;}
.radius-bs-none,
.radius-ie-none,
.radius-se-none{border-start-end-radius:0;}
.radius-be-none,
.radius-is-none,
.radius-es-none{border-end-start-radius:0;}
.radius-be-none,
.radius-ie-none,
.radius-ee-none{border-end-end-radius:0;}


/*** Color ***/
.text-current{color:currentColor}/* current color */
.text-transparent{color:transparent}/* transparent */

.border-current{border-color:currentColor}/* current color */
.border-transparent{border-color:transparent}/* transparent */

.background-current{background-color:currentColor}/* current color */
.background-transparent{background-color:transparent}/* transparent */


/*** Fill ***/
.fill-none{fill:none}
.fill-current{fill:currentColor}


/*** Stroke ***/
.stroke-none{stroke:none;}
.stroke-current{stroke:currentColor;}
  




/*** Style ***/
.italic{font-style:italic;}
.not-italic{font-style:normal;}


/*** Line Height ***/
.leading5{line-height: 2;}
.leading4{line-height: 1.625;}
.leading3{line-height: 1.5;}
.leading2{line-height: 1.375;}
.leading1{line-height: 1.25;}
.leading0,
.leading-none{line-height:1;}


/*** Tracking ***/
.tracking3{letter-spacing: 0.1em;}
.tracking2{letter-spacing: 0.05em;}
.tracking1{letter-spacing: 0.025em;}
.tracking0{letter-spacing: 0;}
.tracking-1{letter-spacing: -0.025em;}
.tracking-2{letter-spacing: -0.05em;}
  

/*** Font Weight ***/
.font-hairline{font-weight:100;}
.font-thin{font-weight:200;}
.font-light{font-weight:300;}
.font-normal{font-weight:400;}
.font-medium{font-weight:500;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.font-extrabold{font-weight:800;}
.font-black{font-weight:900;}


/*** Text Transform ***/
.uppercase{text-transform:uppercase;}
.lowercase{text-transform:lowercase;}
.capitalize{text-transform:capitalize;}
.normal-case{text-transform:none;}
  

/*** Text alignment ***/
.text-inherit{text-align:inherit;}
.text-center{text-align:center;}
.text-start{text-align:start;}
.text-end{text-align:end;}
  

/*** Decoration ***/
.no-underline{text-decoration:none;}
.underline{text-decoration:underline;}
.line-through{text-decoration:line-through;}
  

/*** List ***/
.list-none{list-style:none;}
.list-disc{list-style:disc;}
.list-decimal{list-style:decimal;}


/*** Whitespace ***/
.whitespace-normal{white-space:normal;}
.truncate,
.whitespace-no-wrap{white-space:nowrap;}
.whitespace-pre{white-space:pre;}
.whitespace-pre-line{white-space:pre-line;}
.whitespace-pre-wrap{white-space:pre-wrap;}
  

/*** Wordbreak ***/
.break-normal{word-break:normal}
.break-normal,
.break-word{overflow-wrap:normal}
.break-all{word-break:break-all}
.break-keep{word-break:keep-all}
.truncate,
.ellipsis{text-overflow:ellipsis}
  
  

/*** Layout ***/


/*** Position ***/
.sticky{position:sticky;}
.static{position:static;}
.absolute{position:absolute;}
.relative{position:relative;}
.fixed{position:fixed;}


/*** Inset ***/
.inset-0{inset:0}
.inset-b-0{inset-block:0;}
.inset-bs-0{inset-block-start:0;}
.inset-be-0{inset-block-end:0;}
.inset-i-0{inset-inline:0;}
.inset-is-0{inset-inline-start:0;}
.inset-ie-0{inset-inline-end:0;}


/*** Display ***/
.hidden{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;}
.flex{display:flex;}
.inline-flex{display:inline-flex;}
.grid{display:grid;}
.inline-grid{display:inline-grid;}


/*** Size ***/
.sb-0{block-size:0}
.sb-auto{block-size:auto}
.sb-100{block-size:100%}
.sb-min-0{min-block-size:0}
.sb-min-100{min-block-size:100%}
.sb-max-0{max-block-size:0}
.sb-max-100{max-block-size:100%}
.sb-100vw{block-size:100vw}
.sb-100vh{block-size:100vh}
.si-0{inline-size:0}
.si-auto{inline-size:auto}
.si-100{inline-size:100%}
.si-min-0{min-inline-size:0}
.si-min-100{min-inline-size:100%}
.si-max0{max-inline-size:0}
.si-max-100{max-inline-size:100%}
.si-100vw{inline-size:100vw}
.si-100vh{inline-size:100vh}


/*** Flex ***/
.flex-1{flex: 1 1 0%;}
.flex-auto{flex: 1 1 auto;}
.flex-initial{flex: 0 1 auto;}
.flex-none{flex:none;}
.flex-row{flex-direction:row;}
.flex-row-reverse{flex-direction:row-reverse;}
.flex-col{flex-direction:column;}
.flex-col-reverse{flex-direction:column-reverse;}
.flex-grow{flex-grow:1;}
.flex-grow-0{flex-grow:0;}
.flex-shrink{flex-shrink:1;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.flex-wrap-reverse{flex-wrap:wrap-reverse;}
.flex-no-wrap{flex-wrap:nowrap;}


/*** Grid ***/
.flow-row{grid-auto-flow:row;}
.flow-col{grid-auto-flow:column;}
.flow-row-dense{grid-auto-flow:row dense;}
.flow-column-dense{grid-auto-flow:column dense;}
.row-auto{grid-row:auto;}
.col-auto{grid-column:auto;}
.col-end-auto{grid-column-end: auto;}
.rows-end-auto{grid-row-end:auto;}
.rows-none{grid-template-rows:none;}
.col-1{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1{grid-column: span 1 / span 1;}
.col-start-1{grid-column-start: 1;}
.row-start-1{grid-row-start: 1;}
.col-end-1{grid-column-end: 1;}
.row-end-1{grid-row-end: 1;}
.row-1{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2{grid-column: span 2 / span 2;}
.col-start-2{grid-column-start: 2;}
.row-start-2{grid-row-start: 2;}
.col-end-2{grid-column-end: 2;}
.row-end-2{grid-row-end: 2;}
.row-2{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3{grid-column: span 3 / span 3;}
.col-start-3{grid-column-start: 3;}
.row-start-3{grid-row-start: 3;}
.col-end-3{grid-column-end: 3;}
.row-end-3{grid-row-end: 3;}
.row-3{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4{grid-column: span 4 / span 4;}
.col-start-4{grid-column-start: 4;}
.row-start-4{grid-row-start: 4;}
.col-end-4{grid-column-end: 4;}
.row-end-4{grid-row-end: 4;}
.row-4{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5{grid-column: span 5 / span 5;}
.col-start-5{grid-column-start: 5;}
.row-start-5{grid-row-start: 5;}
.col-end-5{grid-column-end: 5;}
.row-end-5{grid-row-end: 5;}
.row-5{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6{grid-column: span 6 / span 6;}
.col-start-6{grid-column-start: 6;}
.row-start-6{grid-row-start: 6;}
.col-end-6{grid-column-end: 6;}
.row-end-6{grid-row-end: 6;}
.row-6{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7{grid-column: span 7 / span 7;}
.col-start-7{grid-column-start: 7;}
.row-start-7{grid-row-start: 7;}
.col-end-7{grid-column-end: 7;}
.row-end-7{grid-row-end: 7;}
.row-7{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8{grid-column: span 8 / span 8;}
.col-start-8{grid-column-start: 8;}
.row-start-8{grid-row-start: 8;}
.col-end-8{grid-column-end: 8;}
.row-end-8{grid-row-end: 8;}
.row-8{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9{grid-column: span 9 / span 9;}
.col-start-9{grid-column-start: 9;}
.row-start-9{grid-row-start: 9;}
.col-end-9{grid-column-end: 9;}
.row-end-9{grid-row-end: 9;}
.row-9{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10{grid-column: span 10 / span 10;}
.col-start-10{grid-column-start: 10;}
.row-start-10{grid-row-start: 10;}
.col-end-10{grid-column-end: 10;}
.row-end-10{grid-row-end: 10;}
.row-10{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11{grid-column: span 11 / span 11;}
.col-start-11{grid-column-start: 11;}
.row-start-11{grid-row-start: 11;}
.col-end-11{grid-column-end: 11;}
.row-end-11{grid-row-end: 11;}
.row-11{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12{grid-column: span 12 / span 12;}
.col-start-12{grid-column-start: 12;}
.row-start-12{grid-row-start: 12;}
.col-end-12{grid-column-end: 12;}
.row-end-12{grid-row-end: 12;}
.row-12{grid-template-rows: repeat(12, minmax(0, 1fr));}


/*** Box alignment ***/
.align-items-stretch{align-items:stretch;}
.align-items-center{align-items:center;}
.align-items-start{align-items:start;}
.align-items-end{align-items:end;}
.align-items-self-start{align-items:self-start;}
.align-items-self-end{align-items:self-end;}
.align-items-flex-start{align-items:flex-start;}
.align-items-flex-end{align-items:flex-end;}
.align-items-baseline{align-items:baseline;}

.align-content-stretch{align-content:stretch;}
.align-content-center{align-content:center;}
.align-content-start{align-content:start;}
.align-content-end{align-content:end;}
.align-content-flex-start{align-content:flex-start;}
.align-content-flex-end{align-content:flex-end;}
.align-content-baseline{align-content:baseline;}
.align-content-between{align-content:space-between;}
.align-content-around{align-content:space-around;}
.align-content-evenly{align-content:space-evenly;}

.align-self-stretch{align-self:stretch;}
.align-self-auto{align-self:auto;}
.align-self-center{align-self:center;}
.align-self-start{align-self:start;}
.align-self-end{align-self:end;}
.align-self-self-start{align-self:self-start;}
.align-self-self-end{align-self:self-end;}
.align-self-flex-start{align-self:flex-start;}
.align-self-flex-end{align-self:flex-end;}
.align-self-baseline{align-self:baseline;}

.justify-content-stretch{justify-content:stretch;}
.justify-content-center{justify-content:center;}
.justify-content-start{justify-content:start;}
.justify-content-end{justify-content:end;}
.justify-content-flex-start{justify-content:flex-start;}
.justify-content-flex-end{justify-content:flex-end;}
.justify-content-between{justify-content:space-between;}
.justify-content-around{justify-content:space-around;}
.justify-content-evenly{justify-content:space-evenly;}

.justify-items-stretch{justify-items:stretch;}
.justify-items-center{justify-items:center;}
.justify-items-start{justify-items:start;}
.justify-items-end{justify-items:end;}
.justify-items-flex-start{justify-items:flex-start;}
.justify-items-flex-end{justify-items:flex-end;}
.justify-items-self-start{justify-items:self-start;}
.justify-items-self-end{justify-items:self-end;}
.justify-items-baseline{justify-items:baseline;}

.justify-self-stretch{justify-self:stretch;}
.justify-self-center{justify-self:center;}
.justify-self-start{justify-self:start;}
.justify-self-end{justify-self:end;}
.justify-self-flex-start{justify-self:flex-start;}
.justify-self-flex-end{justify-self:flex-end;}
.justify-self-self-start{justify-self:self-start;}
.justify-self-self-end{justify-self:self-end;}
.justify-self-baseline{justify-self:baseline;}

.place-content-stretch{place-content:stretch;}
.place-content-center{place-content:center;}
.place-content-start{place-content:start;}
.place-content-end{place-content:end;}
.place-content-flex-start{place-content:flex-start;}
.place-content-flex-end{place-content:flex-end;}
.place-content-between{place-content:space-between;}
.place-content-around{place-content:space-around;}
.place-content-evenly{place-content:space-evenly;}

.place-items-stretch{place-items:stretch;}
.place-items-center{place-items:center;}
.place-items-start{place-items:start;}
.place-items-end{place-items:end;}
.place-items-self-start{place-items:self-start;}
.place-items-self-end{place-items:self-end;}
.place-items-flex-start{place-items:flex-start;}
.place-items-flex-end{place-items:flex-end;}
.place-items-baseline{place-items:baseline;}

.place-self-stretch{place-self:stretch;}
.place-self-center{place-self:center;}
.place-self-start{place-self:start;}
.place-self-end{place-self:end;}
.place-self-flex-start{place-self:flex-start;}
.place-self-flex-end{place-self:flex-end;}
.place-self-self-start{place-self:self-start;}
.place-self-self-end{place-self:self-end;}
.place-self-baseline{place-self:baseline;}



/*** Order ***/
.order-first{order:-9999;}
.order-last{order:9999;}
.order-none{order:0;}
.order-1{order:1;}
.order-2{order:2;}
.order-3{order:3;}
.order-4{order:4;}
.order-5{order:5;}
.order-6{order:6;}


/*** Z-Index ***/
.z-auto{z-index:auto;}
.z1{z-index:1;}
.z0{z-index:0;}
.z-1{z-index:-1;}



/*** Margin ***/
.m-none{margin:0}
.mb-none{margin-block:0}
.mbs-none{margin-block-start:0}
.mbe-none{margin-block-end:0}
.mi-none{margin-inline:0}
.mis-none{margin-inline-start:0}
.mie-none{margin-inline-end:0}
.m-auto{margin:auto}
.mb-auto{margin-block:auto}
.mbs-auto{margin-block-start:auto}
.mbe-auto{margin-block-end:auto}
.mi-auto{margin-inline:auto}
.mis-auto{margin-inline-start:auto}
.mie-auto{margin-inline-end:auto}


/*** Padding ***/
.p-none{padding:0}
.pb-none{padding-block:0}
.pbs-none{padding-block-start:0}
.pbe-none{padding-block-end:0}
.pi-none{padding-inline:0}
.pis-none{padding-inline-start:0}
.pie-none{padding-inline-end:0}


/*** Overflow ***/
.overflow-auto{overflow:auto;}
.truncate,
.overflow-hidden{overflow:hidden;}
.overflow-visible{overflow:visible;}
.overflow-scroll{overflow:scroll;}
.overflow-x-auto{overflow-x:auto;}
.overflow-y-auto{overflow-y:auto;}
.overflow-x-scroll{overflow-x:scroll;}
.overflow-x-hidden{overflow-x:hidden;}
.overflow-y-scroll{overflow-y:scroll;}
.overflow-y-hidden{overflow-y:hidden;}
.scrolling-touch{-webkit-overflow-scrolling:touch;}
.scrolling-auto{-webkit-overflow-scrolling:auto;}


/*** Visibility ***/
.invisible{visibility:hidden;}
.visible{visibility:visible;}


/*** Object Fit ***/
.object-contain{object-fit:contain;}
.object-cover{object-fit:cover;}
.object-fill{object-fit:fill;}
.object-none{object-fit:none;}
.object-scale-down{object-fit:scale-down;}


/*** Object Position ***/
.object-b{object-position:bottom;}
.object-c{object-position:center;}
.object-t{object-position:top;}
.object-r{object-position:right;}
.object-rt{object-position:right top;}
.object-rb{object-position:right bottom;}
.object-l{object-position:left;}
.object-lt{object-position:left top;}
.object-lb{object-position:left bottom;}
  

/*** Outline ***/
.outline-none{outline:0;}
  

/*** Opacity ***/
.opacity-0{opacity:0;}
.opacity-25{opacity:0.25;}
.opacity-50{opacity:0.5;}
.opacity-75{opacity:0.75;}
.opacity-100{opacity:1.0;}


/*** Cursor ***/
.cursor-auto{cursor:auto;}
.cursor-default{cursor:default;}
.cursor-pointer{cursor:pointer;}
.cursor-wait{cursor:wait;}
.cursor-text{cursor:text;}
.cursor-move{cursor:move;}
.cursor-not-allowed{cursor:not-allowed;}
.cursor-grab{cursor:grab;}
.cursor-grabbing{cursor:grabbing;}


/*** User Select ***/
.select-none{user-select:none;}
.select-text{user-select:text;}
.select-all{user-select:all;}
.select-auto{user-select:auto;}
  

/*** Debug ***/
.debug * { outline: 2px dotted var(--debug-color, rebeccapurple) }
.debug *:hover { border:2px solid var(--debug-color, rebeccapurple) }
  

@media only screen and (min-width:75em) {
  



/*** Style ***/
.italic-xl{font-style:italic;}
.not-italic-xl{font-style:normal;}


/*** Line Height ***/
.leading5-xl{line-height: 2;}
.leading4-xl{line-height: 1.625;}
.leading3-xl{line-height: 1.5;}
.leading2-xl{line-height: 1.375;}
.leading1-xl{line-height: 1.25;}
.leading0-xl,
.leading-none-xl{line-height:1;}


/*** Tracking ***/
.tracking3-xl{letter-spacing: 0.1em;}
.tracking2-xl{letter-spacing: 0.05em;}
.tracking1-xl{letter-spacing: 0.025em;}
.tracking0-xl{letter-spacing: 0;}
.tracking-1-xl{letter-spacing: -0.025em;}
.tracking-2-xl{letter-spacing: -0.05em;}
  

/*** Font Weight ***/
.font-hairline-xl{font-weight:100;}
.font-thin-xl{font-weight:200;}
.font-light-xl{font-weight:300;}
.font-normal-xl{font-weight:400;}
.font-medium-xl{font-weight:500;}
.font-semibold-xl{font-weight:600;}
.font-bold-xl{font-weight:700;}
.font-extrabold-xl{font-weight:800;}
.font-black-xl{font-weight:900;}


/*** Text Transform ***/
.uppercase-xl{text-transform:uppercase;}
.lowercase-xl{text-transform:lowercase;}
.capitalize-xl{text-transform:capitalize;}
.normal-case-xl{text-transform:none;}
  

/*** Text alignment ***/
.text-inherit-xl{text-align:inherit;}
.text-center-xl{text-align:center;}
.text-start-xl{text-align:start;}
.text-end-xl{text-align:end;}
  

/*** Decoration ***/
.no-underline-xl{text-decoration:none;}
.underline-xl{text-decoration:underline;}
.line-through-xl{text-decoration:line-through;}
  

/*** List ***/
.list-none-xl{list-style:none;}
.list-disc-xl{list-style:disc;}
.list-decimal-xl{list-style:decimal;}


/*** Whitespace ***/
.whitespace-normal-xl{white-space:normal;}
.truncate-xl,
.whitespace-no-wrap-xl{white-space:nowrap;}
.whitespace-pre-xl{white-space:pre;}
.whitespace-pre-line-xl{white-space:pre-line;}
.whitespace-pre-wrap-xl{white-space:pre-wrap;}
  

/*** Wordbreak ***/
.break-normal-xl{word-break:normal}
.break-normal-xl,
.break-word-xl{overflow-wrap:normal}
.break-all-xl{word-break:break-all}
.break-keep-xl{word-break:keep-all}
.truncate-xl,
.ellipsis-xl{text-overflow:ellipsis}
  
  

/*** Layout ***/


/*** Position ***/
.sticky-xl{position:sticky;}
.static-xl{position:static;}
.absolute-xl{position:absolute;}
.relative-xl{position:relative;}
.fixed-xl{position:fixed;}


/*** Inset ***/
.inset-0-xl{inset:0}
.inset-b-0-xl{inset-block:0;}
.inset-bs-0-xl{inset-block-start:0;}
.inset-be-0-xl{inset-block-end:0;}
.inset-i-0-xl{inset-inline:0;}
.inset-is-0-xl{inset-inline-start:0;}
.inset-ie-0-xl{inset-inline-end:0;}


/*** Display ***/
.hidden-xl{display:none;}
.block-xl{display:block;}
.inline-xl{display:inline;}
.inline-block-xl{display:inline-block;}
.flex-xl{display:flex;}
.inline-flex-xl{display:inline-flex;}
.grid-xl{display:grid;}
.inline-grid-xl{display:inline-grid;}


/*** Size ***/
.sb-0-xl{block-size:0}
.sb-auto-xl{block-size:auto}
.sb-100-xl{block-size:100%}
.sb-min-0-xl{min-block-size:0}
.sb-min-100-xl{min-block-size:100%}
.sb-max-0-xl{max-block-size:0}
.sb-max-100-xl{max-block-size:100%}
.sb-100vw-xl{block-size:100vw}
.sb-100vh-xl{block-size:100vh}
.si-0-xl{inline-size:0}
.si-auto-xl{inline-size:auto}
.si-100-xl{inline-size:100%}
.si-min-0-xl{min-inline-size:0}
.si-min-100-xl{min-inline-size:100%}
.si-max0-xl{max-inline-size:0}
.si-max-100-xl{max-inline-size:100%}
.si-100vw-xl{inline-size:100vw}
.si-100vh-xl{inline-size:100vh}


/*** Flex ***/
.flex-1-xl{flex: 1 1 0%;}
.flex-auto-xl{flex: 1 1 auto;}
.flex-initial-xl{flex: 0 1 auto;}
.flex-none-xl{flex:none;}
.flex-row-xl{flex-direction:row;}
.flex-row-reverse-xl{flex-direction:row-reverse;}
.flex-col-xl{flex-direction:column;}
.flex-col-reverse-xl{flex-direction:column-reverse;}
.flex-grow-xl{flex-grow:1;}
.flex-grow-0-xl{flex-grow:0;}
.flex-shrink-xl{flex-shrink:1;}
.flex-shrink-0-xl{flex-shrink:0;}
.flex-wrap-xl{flex-wrap:wrap;}
.flex-wrap-reverse-xl{flex-wrap:wrap-reverse;}
.flex-no-wrap-xl{flex-wrap:nowrap;}


/*** Grid ***/
.flow-row-xl{grid-auto-flow:row;}
.flow-col-xl{grid-auto-flow:column;}
.flow-row-dense-xl{grid-auto-flow:row dense;}
.flow-column-dense-xl{grid-auto-flow:column dense;}
.row-auto-xl{grid-row:auto;}
.col-auto-xl{grid-column:auto;}
.col-end-auto-xl{grid-column-end: auto;}
.rows-end-auto-xl{grid-row-end:auto;}
.rows-none-xl{grid-template-rows:none;}
.col-1-xl{grid-template-columns:repeat(1, minmax(0, 1fr));}
.col-span-1-xl{grid-column: span 1 / span 1;}
.col-start-1-xl{grid-column-start: 1;}
.row-start-1-xl{grid-row-start: 1;}
.col-end-1-xl{grid-column-end: 1;}
.row-end-1-xl{grid-row-end: 1;}
.row-1-xl{grid-template-rows: repeat(1, minmax(0, 1fr));}
.col-2-xl{grid-template-columns:repeat(2, minmax(0, 1fr));}
.col-span-2-xl{grid-column: span 2 / span 2;}
.col-start-2-xl{grid-column-start: 2;}
.row-start-2-xl{grid-row-start: 2;}
.col-end-2-xl{grid-column-end: 2;}
.row-end-2-xl{grid-row-end: 2;}
.row-2-xl{grid-template-rows: repeat(2, minmax(0, 1fr));}
.col-3-xl{grid-template-columns:repeat(3, minmax(0, 1fr));}
.col-span-3-xl{grid-column: span 3 / span 3;}
.col-start-3-xl{grid-column-start: 3;}
.row-start-3-xl{grid-row-start: 3;}
.col-end-3-xl{grid-column-end: 3;}
.row-end-3-xl{grid-row-end: 3;}
.row-3-xl{grid-template-rows: repeat(3, minmax(0, 1fr));}
.col-4-xl{grid-template-columns:repeat(4, minmax(0, 1fr));}
.col-span-4-xl{grid-column: span 4 / span 4;}
.col-start-4-xl{grid-column-start: 4;}
.row-start-4-xl{grid-row-start: 4;}
.col-end-4-xl{grid-column-end: 4;}
.row-end-4-xl{grid-row-end: 4;}
.row-4-xl{grid-template-rows: repeat(4, minmax(0, 1fr));}
.col-5-xl{grid-template-columns:repeat(5, minmax(0, 1fr));}
.col-span-5-xl{grid-column: span 5 / span 5;}
.col-start-5-xl{grid-column-start: 5;}
.row-start-5-xl{grid-row-start: 5;}
.col-end-5-xl{grid-column-end: 5;}
.row-end-5-xl{grid-row-end: 5;}
.row-5-xl{grid-template-rows: repeat(5, minmax(0, 1fr));}
.col-6-xl{grid-template-columns:repeat(6, minmax(0, 1fr));}
.col-span-6-xl{grid-column: span 6 / span 6;}
.col-start-6-xl{grid-column-start: 6;}
.row-start-6-xl{grid-row-start: 6;}
.col-end-6-xl{grid-column-end: 6;}
.row-end-6-xl{grid-row-end: 6;}
.row-6-xl{grid-template-rows: repeat(6, minmax(0, 1fr));}
.col-7-xl{grid-template-columns:repeat(7, minmax(0, 1fr));}
.col-span-7-xl{grid-column: span 7 / span 7;}
.col-start-7-xl{grid-column-start: 7;}
.row-start-7-xl{grid-row-start: 7;}
.col-end-7-xl{grid-column-end: 7;}
.row-end-7-xl{grid-row-end: 7;}
.row-7-xl{grid-template-rows: repeat(7, minmax(0, 1fr));}
.col-8-xl{grid-template-columns:repeat(8, minmax(0, 1fr));}
.col-span-8-xl{grid-column: span 8 / span 8;}
.col-start-8-xl{grid-column-start: 8;}
.row-start-8-xl{grid-row-start: 8;}
.col-end-8-xl{grid-column-end: 8;}
.row-end-8-xl{grid-row-end: 8;}
.row-8-xl{grid-template-rows: repeat(8, minmax(0, 1fr));}
.col-9-xl{grid-template-columns:repeat(9, minmax(0, 1fr));}
.col-span-9-xl{grid-column: span 9 / span 9;}
.col-start-9-xl{grid-column-start: 9;}
.row-start-9-xl{grid-row-start: 9;}
.col-end-9-xl{grid-column-end: 9;}
.row-end-9-xl{grid-row-end: 9;}
.row-9-xl{grid-template-rows: repeat(9, minmax(0, 1fr));}
.col-10-xl{grid-template-columns:repeat(10, minmax(0, 1fr));}
.col-span-10-xl{grid-column: span 10 / span 10;}
.col-start-10-xl{grid-column-start: 10;}
.row-start-10-xl{grid-row-start: 10;}
.col-end-10-xl{grid-column-end: 10;}
.row-end-10-xl{grid-row-end: 10;}
.row-10-xl{grid-template-rows: repeat(10, minmax(0, 1fr));}
.col-11-xl{grid-template-columns:repeat(11, minmax(0, 1fr));}
.col-span-11-xl{grid-column: span 11 / span 11;}
.col-start-11-xl{grid-column-start: 11;}
.row-start-11-xl{grid-row-start: 11;}
.col-end-11-xl{grid-column-end: 11;}
.row-end-11-xl{grid-row-end: 11;}
.row-11-xl{grid-template-rows: repeat(11, minmax(0, 1fr));}
.col-12-xl{grid-template-columns:repeat(12, minmax(0, 1fr));}
.col-span-12-xl{grid-column: span 12 / span 12;}
.col-start-12-xl{grid-column-start: 12;}
.row-start-12-xl{grid-row-start: 12;}
.col-end-12-xl{grid-column-end: 12;}
.row-end-12-xl{grid-row-end: 12;}
.row-12-xl{grid-template-rows: repeat(12, minmax(0, 1fr));}


/*** Box alignment ***/
.align-items-stretch-xl{align-items:stretch;}
.align-items-center-xl{align-items:center;}
.align-items-start-xl{align-items:start;}
.align-items-end-xl{align-items:end;}
.align-items-self-start-xl{align-items:self-start;}
.align-items-self-end-xl{align-items:self-end;}
.align-items-flex-start-xl{align-items:flex-start;}
.align-items-flex-end-xl{align-items:flex-end;}
.align-items-baseline-xl{align-items:baseline;}

.align-content-stretch-xl{align-content:stretch;}
.align-content-center-xl{align-content:center;}
.align-content-start-xl{align-content:start;}
.align-content-end-xl{align-content:end;}
.align-content-flex-start-xl{align-content:flex-start;}
.align-content-flex-end-xl{align-content:flex-end;}
.align-content-baseline-xl{align-content:baseline;}
.align-content-between-xl{align-content:space-between;}
.align-content-around-xl{align-content:space-around;}
.align-content-evenly-xl{align-content:space-evenly;}

.align-self-stretch-xl{align-self:stretch;}
.align-self-auto-xl{align-self:auto;}
.align-self-center-xl{align-self:center;}
.align-self-start-xl{align-self:start;}
.align-self-end-xl{align-self:end;}
.align-self-self-start-xl{align-self:self-start;}
.align-self-self-end-xl{align-self:self-end;}
.align-self-flex-start-xl{align-self:flex-start;}
.align-self-flex-end-xl{align-self:flex-end;}
.align-self-baseline-xl{align-self:baseline;}

.justify-content-stretch-xl{justify-content:stretch;}
.justify-content-center-xl{justify-content:center;}
.justify-content-start-xl{justify-content:start;}
.justify-content-end-xl{justify-content:end;}
.justify-content-flex-start-xl{justify-content:flex-start;}
.justify-content-flex-end-xl{justify-content:flex-end;}
.justify-content-between-xl{justify-content:space-between;}
.justify-content-around-xl{justify-content:space-around;}
.justify-content-evenly-xl{justify-content:space-evenly;}

.justify-items-stretch-xl{justify-items:stretch;}
.justify-items-center-xl{justify-items:center;}
.justify-items-start-xl{justify-items:start;}
.justify-items-end-xl{justify-items:end;}
.justify-items-flex-start-xl{justify-items:flex-start;}
.justify-items-flex-end-xl{justify-items:flex-end;}
.justify-items-self-start-xl{justify-items:self-start;}
.justify-items-self-end-xl{justify-items:self-end;}
.justify-items-baseline-xl{justify-items:baseline;}

.justify-self-stretch-xl{justify-self:stretch;}
.justify-self-center-xl{justify-self:center;}
.justify-self-start-xl{justify-self:start;}
.justify-self-end-xl{justify-self:end;}
.justify-self-flex-start-xl{justify-self:flex-start;}
.justify-self-flex-end-xl{justify-self:flex-end;}
.justify-self-self-start-xl{justify-self:self-start;}
.justify-self-self-end-xl{justify-self:self-end;}
.justify-self-baseline-xl{justify-self:baseline;}

.place-content-stretch-xl{place-content:stretch;}
.place-content-center-xl{place-content:center;}
.place-content-start-xl{place-content:start;}
.place-content-end-xl{place-content:end;}
.place-content-flex-start-xl{place-content:flex-start;}
.place-content-flex-end-xl{place-content:flex-end;}
.place-content-between-xl{place-content:space-between;}
.place-content-around-xl{place-content:space-around;}
.place-content-evenly-xl{place-content:space-evenly;}

.place-items-stretch-xl{place-items:stretch;}
.place-items-center-xl{place-items:center;}
.place-items-start-xl{place-items:start;}
.place-items-end-xl{place-items:end;}
.place-items-self-start-xl{place-items:self-start;}
.place-items-self-end-xl{place-items:self-end;}
.place-items-flex-start-xl{place-items:flex-start;}
.place-items-flex-end-xl{place-items:flex-end;}
.place-items-baseline-xl{place-items:baseline;}

.place-self-stretch-xl{place-self:stretch;}
.place-self-center-xl{place-self:center;}
.place-self-start-xl{place-self:start;}
.place-self-end-xl{place-self:end;}
.place-self-flex-start-xl{place-self:flex-start;}
.place-self-flex-end-xl{place-self:flex-end;}
.place-self-self-start-xl{place-self:self-start;}
.place-self-self-end-xl{place-self:self-end;}
.place-self-baseline-xl{place-self:baseline;}



/*** Order ***/
.order-first-xl{order:-9999;}
.order-last-xl{order:9999;}
.order-none-xl{order:0;}
.order-1-xl{order:1;}
.order-2-xl{order:2;}
.order-3-xl{order:3;}
.order-4-xl{order:4;}
.order-5-xl{order:5;}
.order-6-xl{order:6;}


/*** Z-Index ***/
.z-auto-xl{z-index:auto;}
.z1-xl{z-index:1;}
.z0-xl{z-index:0;}
.z-1-xl{z-index:-1;}



/*** Margin ***/
.m-none-xl{margin:0}
.mb-none-xl{margin-block:0}
.mbs-none-xl{margin-block-start:0}
.mbe-none-xl{margin-block-end:0}
.mi-none-xl{margin-inline:0}
.mis-none-xl{margin-inline-start:0}
.mie-none-xl{margin-inline-end:0}
.m-auto-xl{margin:auto}
.mb-auto-xl{margin-block:auto}
.mbs-auto-xl{margin-block-start:auto}
.mbe-auto-xl{margin-block-end:auto}
.mi-auto-xl{margin-inline:auto}
.mis-auto-xl{margin-inline-start:auto}
.mie-auto-xl{margin-inline-end:auto}


/*** Padding ***/
.p-none-xl{padding:0}
.pb-none-xl{padding-block:0}
.pbs-none-xl{padding-block-start:0}
.pbe-none-xl{padding-block-end:0}
.pi-none-xl{padding-inline:0}
.pis-none-xl{padding-inline-start:0}
.pie-none-xl{padding-inline-end:0}


/*** Overflow ***/
.overflow-auto-xl{overflow:auto;}
.truncate-xl,
.overflow-hidden-xl{overflow:hidden;}
.overflow-visible-xl{overflow:visible;}
.overflow-scroll-xl{overflow:scroll;}
.overflow-x-auto-xl{overflow-x:auto;}
.overflow-y-auto-xl{overflow-y:auto;}
.overflow-x-scroll-xl{overflow-x:scroll;}
.overflow-x-hidden-xl{overflow-x:hidden;}
.overflow-y-scroll-xl{overflow-y:scroll;}
.overflow-y-hidden-xl{overflow-y:hidden;}
.scrolling-touch-xl{-webkit-overflow-scrolling:touch;}
.scrolling-auto-xl{-webkit-overflow-scrolling:auto;}


/*** Visibility ***/
.invisible-xl{visibility:hidden;}
.visible-xl{visibility:visible;}


/*** Object Fit ***/
.object-contain-xl{object-fit:contain;}
.object-cover-xl{object-fit:cover;}
.object-fill-xl{object-fit:fill;}
.object-none-xl{object-fit:none;}
.object-scale-down-xl{object-fit:scale-down;}


/*** Object Position ***/
.object-b-xl{object-position:bottom;}
.object-c-xl{object-position:center;}
.object-t-xl{object-position:top;}
.object-r-xl{object-position:right;}
.object-rt-xl{object-position:right top;}
.object-rb-xl{object-position:right bottom;}
.object-l-xl{object-position:left;}
.object-lt-xl{object-position:left top;}
.object-lb-xl{object-position:left bottom;}
  

/*** Outline ***/
.outline-none-xl{outline:0;}
  

/*** Opacity ***/
.opacity-0-xl{opacity:0;}
.opacity-25-xl{opacity:0.25;}
.opacity-50-xl{opacity:0.5;}
.opacity-75-xl{opacity:0.75;}
.opacity-100-xl{opacity:1.0;}


/*** Cursor ***/
.cursor-auto-xl{cursor:auto;}
.cursor-default-xl{cursor:default;}
.cursor-pointer-xl{cursor:pointer;}
.cursor-wait-xl{cursor:wait;}
.cursor-text-xl{cursor:text;}
.cursor-move-xl{cursor:move;}
.cursor-not-allowed-xl{cursor:not-allowed;}
.cursor-grab-xl{cursor:grab;}
.cursor-grabbing-xl{cursor:grabbing;}


/*** User Select ***/
.select-none-xl{user-select:none;}
.select-text-xl{user-select:text;}
.select-all-xl{user-select:all;}
.select-auto-xl{user-select:auto;}
  

/*** Debug ***/
.debug * { outline: 2px dotted var(--debug-color, rebeccapurple) }
.debug *:hover { border:2px solid var(--debug-color, rebeccapurple) }
  

}
